<h1>My Project</h1>
<%=link_to 'About Us',about_path,target:'_blank',style:"color:red;"%>
<%=link_to 'Contact us','/contact',style:"color:red;"%>
<%=link_to 'Privacy','/privacy-policy',style:"color:red;"%>
<%=link_to 'T and C','/terms-and-conditions',style:"color:red;"%>

